html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: slategrey;
}


/* BOARD DISPLAY */
#chessboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#chessboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px groove red;
}

.board-file {
    display:flex;
    flex-direction:column;
}

.board-square {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-start;
    position: relative;
    height:50px;
    width:50px;
    z-index:1;
    outline:1px solid red;
}
[data-square-colour="white"] {
    background-color: white;
    color: black;
}
[data-square-colour="black"] {
    background-color: black;
    color: white;
}

.square-coordinate {
    font-size:0.6em;
    margin:0;
    padding:0.2em;
    z-index:10;
    pointer-events:none;
    user-select:none;
}


/* PIECES */
.board-piece {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:40px;
    text-align:center;
    z-index:10;
    position:absolute;
    cursor:default;
}
[data-piece-colour="white"] {
    color: white;
    text-shadow:0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
[data-piece-colour="black"] {
    color: black;
    text-shadow:0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}


/* BOARD HIGHLIGHTS */
.selected-square {
    background-color: red !important; 
}
.highlighted-square {
    background-color: green;
}
.checked-king {
    background-color: blue;
}


/* END GAME */
#game-state {
    text-transform: capitalize;
}