html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: "Rock Salt";
}



/* GAME OPTIONS */
#game-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
}
#player-colour-option {
    display: none;
}
#import-fen-option {
    display: none;
}
#error-message {
    color: darkred;
}
legend {
    font-weight: bold;
}
form {
    width: min(80%,600px);
    text-align: center;
}
fieldset {
    margin: 0.5em;
}
form button {
    font-size: 1.5em;
    border-radius: 0.2em;
    border-width: 0.1em;
    cursor: pointer;
    background-color: darkgrey;
}
form button:hover {
    background: none;
}
#custom-fen {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}



/* FEN DISPLAY */
.fen-title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0.8em 0px;
}
#fen {
    font-weight: normal;
    word-wrap: break-word;
}



/* BOARD DISPLAY */
#chessboard-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#chessboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px groove red;
}

.board-file {
    display:flex;
    flex-direction:column;
}

.board-square {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-start;
    position: relative;
    height:50px;
    width:50px;
    z-index:1;
    outline:1px solid red;
}
[data-square-colour="white"] {
    background-color: white;
    color: black;
}
[data-square-colour="black"] {
    background-color: black;
    color: white;
}

.square-coordinate {
    font-size:0.6em;
    margin:0;
    padding:0.2em;
    z-index:10;
    pointer-events:none;
    user-select:none;
}


/* PIECES */
.board-piece {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:40px;
    text-align:center;
    z-index:10;
    position:absolute;
    cursor:default;
}
[data-piece-colour="white"] {
    color: white;
    text-shadow:0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
[data-piece-colour="black"] {
    color: black;
    text-shadow:0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}


/* BOARD HIGHLIGHTS */
.selected-square {
    background-color: red !important; 
}
.highlighted-square {
    background-color: green;
}
.checked-king {
    background-color: blue;
}


/* END GAME */
#game-state {
    text-transform: capitalize;
    visibility: hidden;
}



@media only screen and (max-width: 600px) {
    .board-square {
        width: 38px;
        height: 38px;
    }   
    
    .board-piece {
        font-size: 30px;
    }
}